body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('aid1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #0078d4;
    padding: 10px 0;
    color: #e64f4f;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin: 30px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #0078d4;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #0078d4;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
}

button:hover {
    background-color: #005a9e;
}

.about {
    background-image: url('aid1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}


section {
    background-color: rgba(196, 250, 219, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.horizontal-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 30px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    padding: 10px 20px;
    background-color: #0078d4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;